* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Edu TAS Beginner", sans-serif;
    background-image: url("../img/cork.png");
}

header {
    width: 100%;
    height: 80px;
    background-image: url("../img/wall.png");
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 3em;
}

main {
    padding: 35px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.row {
    min-width: 200px;
    position: relative;
    flex-basis: calc(30% - 20px);
    background-color: white;
    margin: 30px 10px;
    flex-grow: 1;
    flex-shrink: 0;
    box-shadow: 1px 1px 3px black;
    cursor: pointer;
    padding: 20px;
}

.col img {
    width: 100%;
}

.row:hover {
    transform: scale(1.1);
    rotate: 10deg;
    z-index: 3;
    box-shadow: 2px 2px 50px black;
}

.row:hover #pin {
    display: none;
}

figcaption {
    padding-top: 20px;
    text-transform: capitalize;
}

#pin {
    position: absolute;
    top: -7px;
    left: 45%;
}

#overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#overlay img {
    width: 50%;
    margin: 20px;
}

button {
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid white;
    font-family: "Edu TAS Beginner", sans-serif;
    letter-spacing: 1px;
    font-size: 1em;
}

button:hover {
    box-shadow: 1px 1px 5px black;
}

#loader {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: 100px;
}

/* flex utilities */

.d-flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.d-none {
    display: none !important;
}

/* media queries */

@media screen and (max-width:756px) {
    .container {
        max-width: 500px;
    }

    .row {
        flex-basis: calc(40% - 20px);
        margin: 30px 10px;
    }

    #overlay img {
        width: 60%;
        margin: 20px;
    }
}

@media screen and (max-width:576px) {
    .container {
        max-width: 300px;
    }

    .row {
        flex-basis: calc(50% - 10px);
        margin: 30px 30px;
    }

    h1 {
        font-size: 2em;
    }

    #overlay img {
        width: 60%;
        margin: 20px;
    }
}